#reddit-container {
  grid-area: reddit;
  background-color: #282c34;
  color: white;
  padding: 15px;
  font-family: Arial;
  text-align: center;
  }

.sort-button {
  border-radius: 8px;
}

#stock-select-demo {
  justify-content: flex-end;
}

.list-overflow-container {
  color: black;
}