@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
	outline: none;
	box-sizing: border-box;
}

html {
	background-color: #bdd4e7;
	background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

body {
	display: grid;
	grid-template-rows: 4em auto 4em;
	margin: 0%;
	padding: 0%;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
}

nav {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	box-shadow: 0px 0px 5px #00a05d;
}

.left-side {
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.left-side #logo {
	height: 3em;
	align-self: center;
}

.left-side h1 {
	margin-top: 0%;
	margin-bottom: 0%;
	font-family: 'Reggae One', cursive;
}

main {
	padding: 2%;
	height: 100%;
}

#top-movers-container, #top-movers {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: Newsreader, serif;
	color: #ffa500;
	text-align: center;
	font-weight: 600;
	align-content: space-around;
	width: 100%;
}

.mover-link:hover {
	color: blueviolet;
	opacity: 50%;
}

/* Search bar */

#search {
	color: darkslategray;
	border-radius: 0 7px 7px 0;
	border: solid 2px #a5a5a5;
	border-left: none;
}

.search-widget {
	display: flex;
	flex-direction: row;
	height: 2.05em;
	font-size: inherit;
}

	.search-widget i {
		font-size: inherit;
		text-align: center;
		border: solid 2px #a5a5a5;
		border-right: solid 2px #8b8b8b;
		border-radius: 7px 0 0 7px;
		padding-top: 1%;
		width: 2em;
		height: 1.5em;
		line-height: 1.5em;
		background-color: #e2e2e2;
		color: #292828;
		height: 100%;
		transition: .2s;
	}

	.search-widget i:hover {
		background-color: #d4cbcb;
		cursor: pointer;
	}


/* Footer */
.contributors {
	font-family: 'Reggae One', cursive;
	color: honeydew;
	background-color: #794141;
	padding: .5%;
	margin: .5%;
	justify-self: center;
	border-radius: 10px;
	height: fit-content;
}


/* Customize scroll bar */
/* won't work on Firefox */
::-webkit-scrollbar {
	width: .5em;
}

body::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #ffa1a1;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #ff735a;
	border-radius: 10px;
}

/* Override Bulma default */
.notification {
	padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}
