/* Stock graph stuff */

#stock-graph-container {
	display: grid !important;
	grid-template-rows: auto 3em;
	background-color: #363636;
	row-gap: .5em;
}

#stock-graph {
	border-radius: 12px;
	background-color: #424242;
	padding: 2%;
}

label {
	color: white;
}
	label:hover {
		cursor: pointer;
	}

#graph-controls {
	padding-top: 3%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1%;
	align-items: center;
	justify-content: space-between;
}

#range-labels::before,
#interval-labels::before {
	font-size: 14px;
	color: aliceblue;
	position: absolute;
	bottom: 100%;
	left: 2%;
}

#range-labels::before {
	content: "Range:";
}

#interval-labels::before {
	content: "Step:";
}

#ranges, #intervals {
	display: none;
}

.modes {
	position: relative;
	display: grid;
	text-align: center;
	align-items: center;
	height: 100%;
	border-radius: 20px;
	z-index: 3;
}

[id$="-ui"] {
	background-color: #d84e4e;
	height: 100%;
	border-radius: 20px;
	transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 2;
	position: absolute;
}
	#interval-ui {
		width: 25%;
		left: 50%;
	}
	#range-ui {
		width: 33%;
		left: 50%;
	}

[id$="-labels"] {
	height: 2.2em;
	background-color: #00a05d;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 0 10px #969696;
}
	#range-labels {
		width: 65%;
		justify-self: left;
	}
		#range-labels .modes {
			grid-template-columns: repeat(3, 1fr);
		}

	#interval-labels {
		width: 90%;
		justify-self: right;
	}
		#interval-labels .modes {
			grid-template-columns: repeat(4, 1fr);
		}
